{%block footer%}
                <div class="span12">
                    <p class="pull-right"><a href="#top">Back to top</a></p>
                </div>
                <div class="navbar span12" style="text-align:center;">
                    <div class="navbar-inner">
                        <div class="container">
                            <a href="/mentionlegal"><h5 style="margin-top:11px;color:gray;">Created by Romain BELLINA</h5></a>
                        </div><!--/.container -->
                    </div><!--/.navbar-inner -->
                </div><!--/.navbar span12 -->
            </div><!--/.row -->
        </div><!--/.container -->
    </body>
    <footer>
        <script type="text/javascript"
            src="js/jquery.js">
        </script>
        <script type="text/javascript"
            src="js/fonction.js">
        </script>
        <script type="text/javascript"
            src="js/bootstrap.js">
        </script>
    </footer>
</html>
{%endblock%}