{%block header%}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
    <head>
        <title>Romain BELLINA</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

        <link rel="stylesheet" type="text/css" title="Design" href="{{ app.request.basepath }}/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" title="Design" href="{{ app.request.basepath }}/css/bootstrap-responsive.css" />

        <link rel="shortcut icon" href="{{ app.request.basepath }}/../files/img/ico.png">
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div id="top" >
                    <a style="display: block;text-align: center;" title="banière" href="accueil"><img style="" src="{{ app.request.basepath }}/../files/img/rb.jpg"></a>
                </div>
{%endblock%}