{%block menu%}
                <div class="navbar navbar-inverse">
                    <div class="navbar-inner">
                        <div class="container">
                            <button type="button" class="btn btn-navbar collapsed" data-toggle="collapse" data-target=".nav-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <a class="brand" href="accueil">Portfolio</a>
                            <div class="nav-collapse collapse">
                                <ul class="nav">
                                    <li ><a title="CV / LM" href="accueil">CV / LM</a></li>
                                    <li ><a title="Mes Sites" href="#">Mes Sites</a></li>
                                    <li ><a title="Mes Applications" href="#">Mes Applications</a></li>
                                    <li ><a title="Mes Projets" href="#">Mes Projets</a></li>
                                    <li ><a title="Me Contacter" href="#">Me Contacter</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div><!--/.container -->
                    </div><!--/.navbar-inner -->
                </div><!--/.navbar span12 -->
{%endblock%}