{%extends 'layout/admin/base.twig'%}
{%block content%}
    <legend>Ajout d'un diplôme</legend>
    <form id="formEn" class="" novalidate action="{{ path('CV_company_add') }}" method="post">
        {{ form_widget(form) }}
        <input class="btn btn-primary" type="submit" value="Ajouter">
    </form>
{%endblock%}
{% block javascript %}
    <script src="{{ app.request.basepath }}/js/tiny_mce/tiny_mce.js"></script>
    <script type="text/javascript">
        $(document).ready(function() {
            tinyMCE.init({
                mode : "textareas"
            });
        });
    </script>
{% endblock %}