<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" media="screen" href="css/bootstrap.css">
        <link rel="stylesheet" media="screen" href="css/style.css">
        <title>Site name</title>
    </head>
    <body class=''>
        {%block content%}
            
        {%endblock%}
    </body
</html>