{%block menu%}
                <div class="navbar span12">
                    <div class="navbar-inner">
                        <div class="container">
                            <a class="brand" href="accueil">Portfolio</a>
                            <div class="nav-collapse">
                                <ul class="nav">
                                    <li ><a title="CV / LM" href="accueil">CV / LM</a></li>
                                    <li ><a title="Mes Sites" href="site/">Mes Sites</a></li>
                                    <li ><a title="Mes Applications" href="index.php?page=applications">Mes Applications</a></li>
                                    <li ><a title="Me Contacter" href="index.php?page=contact">Me Contacter</a></li>
                                </ul>
                            </div><!--/.nav-collapse -->
                        </div><!--/.container -->
                    </div><!--/.navbar-inner -->
                </div><!--/.navbar span12 -->
{%endblock%}